@import 'tailwindcss';

.light {
  --main: #fd3a5d;
  --surface: #ffffff;
  --text: #1a1a1a;
  --accent: #fbd4db;

  --border: #e0e0e0;
  --shadow: rgba(0, 0, 0, 0.1);

  background-color: var(--surface);
  color: var(--text);
}

.dark {
  --main: #fd3a5d;
  --surface: #121212;
  --text: #f0f0f0;
  --accent: #70202d;

  --border: #333333;
  --shadow: rgba(0, 0, 0, 0.5);

  background-color: var(--surface);
  color: var(--text);
}

body {
  background-color: var(--surface);
  color: var(--text);
}

.bg-main {
  background-color: var(--main);
}
.text-main {
  color: var(--main);
}
.bg-accent {
  background-color: var(--accent);
}
.text-accent {
  color: var(--accent);
}

.border-default {
  border: 1px solid var(--border);
}

.shadow-default {
  box-shadow: 0 2px 8px var(--shadow);
}
