@import 'tailwindcss';

.light {
  --primary: 155, 178, 145;
  --secondary: 199, 255, 218;
  --surface: 255, 255, 255;
  --border: 224, 224, 224;
  --text-primary: 0, 0, 0;
  --text-secondary: 51, 51, 51;
  background-color: rgba(var(--surface), 1);
  color: rgb(var(--text-primary));
}

.dark {
  --primary: 68, 102, 80;
  --secondary: 48, 88, 63;
  --surface: 26, 26, 26;
  --border: 51, 51, 51;
  --text-primary: 255, 255, 255;
  --text-secondary: 204, 204, 204;
  background-color: rgba(var(--surface), 1);
  color: rgb(var(--text-primary));
}

body {
  background-color: rgba(var(--surface), 1);
  color: rgb(var(--text-primary));
}

.bg-primary {
  background-color: rgba(var(--primary), 1);
}

.text-primary {
  color: rgb(var(--text-primary));
}
